.checkoutProduct {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkoutProduct__info {
    padding-left: 20px;
    padding-top: 5px;
}

.checkoutProduct__info > button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all .5s;
}

.checkoutProduct__image {
    object-fit: contain;
    width: 280px;
    height: 180px;
  }

.checkoutProduct__rating {
    display: flex;
  }

.checkoutProduct__title {
    font-size: 17px;
    font-weight: 800;
}
.checkoutProduct__price{
    margin-bottom: -2px;
}
.checkoutProduct__info>button:hover{
    background-color: #efb31a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media only screen and (max-width: 600px) {
    .checkoutProduct{
     flex-direction: column;
     align-items: center;
    }
    .checkoutProduct__info{
        padding-left: 3px;
        padding-top: 20px;
        width: 280px;
        text-align: left;
    }
  }