.home{
    display: flex;
  justify-content: center;
}
.home_row {  
    z-index: 1; 
    margin-left: 5px;  
    margin-right: 5px;
  }
.home_container{
   text-align: center;
}
.home_image{
    max-width: 100vw;
    width: 100%;
    min-height: 230px;
    z-index: -1;
    margin-bottom: -150px;
    mask-image:linear-gradient(to bottom,rgba(0,0,0,1),rgba(0,0,0,0));
}
@media only screen and (max-width: 700px) {
  .home_row{
    margin-top: 50px;
  }
}
@media only screen and (max-width: 450px) {
  .home_row{
    margin-top: 70px;
  }
  .home_image{
    min-height: 180px;
  }
}
