.solo{
    display: flex;
    height: 92vh;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 40px;
    
}
.solo_image{
    flex: 1;
    text-align: center;
    margin: 10px;
}
.solo_description{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.solo_title{
    font-size: 30px;
    font-weight: bolder;
}
.solo_price{
    font-size: 25px;
    font-weight: 500
}
.solo_desc{
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400
}
.solo_quantity>button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all .5s;
}
.solo_quantity>input{
    width: 50px;
    text-align: center;
}
.solo_basketButton{
    background: #f0c14b;
    width: 200px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition: all .5s;
}
.solo_quantity>button:hover{
    background-color: #efb31a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.solo_basketButton:hover{
    background-color: #efb31a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}
@media only screen and (max-width: 700px) {
    .solo{
     display: block;
    }
    .solo_image{
        margin-top: 40px;
    }
  }